/*
  Reset
*/
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Variables
*/
@keyframes wiggle {
  0% {
    -wekbit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -wekbit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -wekbit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  75% {
    -wekbit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -wekbit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes wiggle {
  0% {
    -wekbit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -wekbit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -wekbit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  75% {
    -wekbit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -wekbit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes wiggle {
  0% {
    -wekbit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -wekbit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -wekbit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  75% {
    -wekbit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -wekbit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes wiggle {
  0% {
    -wekbit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -wekbit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -wekbit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  75% {
    -wekbit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -wekbit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes wiggle {
  0% {
    -wekbit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -wekbit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -wekbit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  75% {
    -wekbit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -wekbit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-khtml-keyframes wiggle {
  0% {
    -wekbit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -wekbit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -wekbit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  75% {
    -wekbit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -wekbit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes spinner {
  0% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -wekbit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-moz-keyframes spinner {
  0% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -wekbit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes spinner {
  0% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -wekbit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-o-keyframes spinner {
  0% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -wekbit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-ms-keyframes spinner {
  0% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -wekbit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-khtml-keyframes spinner {
  0% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -wekbit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -wekbit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes line {
  100% {
    width: 100%;
  }
}
@-moz-keyframes line {
  100% {
    width: 100%;
  }
}
@-webkit-keyframes line {
  100% {
    width: 100%;
  }
}
@-o-keyframes line {
  100% {
    width: 100%;
  }
}
@-ms-keyframes line {
  100% {
    width: 100%;
  }
}
@-khtml-keyframes line {
  100% {
    width: 100%;
  }
}
/*
  Global
*/
body {
  font-size: 18px;
  background-color: #F7F9F9;
  word-break: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  body {
    font-size: 22px;
  }
}
@media screen and (min-width: 950px) {
  body {
    font-size: 28px;
  }
}
/*
  Nav
*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #579C87;
  border-bottom: solid 2px #A1C181;
}
.header .title {
  font-size: 2.5em;
  font-weight: bold;
  color: #FDCB46;
}

/*
  Footer
*/
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  background-color: #579C87;
  border-top: solid 2px #A1C181;
}
.footer a {
  margin: 0 1rem;
  color: #FDCB46;
  font-weight: bold;
}
.footer a:hover {
  -webkit-animation: wiggle 0.4s 1 ease-in-out;
  -moz-animation: wiggle 0.4s 1 ease-in-out;
  -o-animation: wiggle 0.4s 1 ease-in-out;
  animation: wiggle 0.4s 1 ease-in-out;
}

/*
  Spinner
*/
.spinner {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.spinner > span {
  width: 18px;
  height: 18px;
  background-color: #579C87;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: spinner 1.4s infinite ease-in-out both;
  -moz-animation: spinner 1.4s infinite ease-in-out both;
  -o-animation: spinner 1.4s infinite ease-in-out both;
  animation: spinner 1.4s infinite ease-in-out both;
}
.spinner span:last-child {
  -webkit-animation-delay: 0.32s;
  -moz-animation-delay: 0.32s;
  -o-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.spinner span:nth-child(2n) {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  -o-animation-delay: 0.16s;
  animation-delay: 0.16s;
}

.menus {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  width: 80vw;
  margin: 2rem auto;
}
.menus .menu {
  width: 100%;
  height: 100vh;
  margin: 2rem;
  overflow: hidden;
  box-shadow: 4px 4px 4px 4px #b8b8b8;
  -webkit-box-shadow: 4px 4px 4px 4px #b8b8b8;
  -moz-box-shadow: 4px 4px 4px 4px #b8b8b8;
  -o-box-shadow: 4px 4px 4px 4px #b8b8b8;
}
.menus .menu__logo {
  height: 1.5em;
  background: linear-gradient(to right, #c14c5b, #F37566, #ff986c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus .menu__enchanted {
  font-family: "Devonshire", cursive;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 100%;
  width: 100%;
  background: #fcdfdb;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menus .menu__enchanted .menu__title {
  font-size: 2.5rem;
  text-align: center;
}
.menus .menu__enchanted .menu__content {
  margin-top: 3rem;
  font-size: 5rem;
  color: inherit;
}
.menus .menu__enchanted:hover {
  opacity: 0.4;
  -wekbit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.menus .menu__chic {
  font-family: "Croissant One", cursive;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 100%;
  width: 100%;
  background: #fcdfdb;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menus .menu__chic .menu__title {
  font-size: 2.5rem;
  text-align: center;
  background: linear-gradient(to right, #C67412, #A56799, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus .menu__chic .menu__content {
  margin-top: 3rem;
  font-size: 5rem;
  color: #C67412;
}
.menus .menu__chic:hover {
  opacity: 0.4;
  -wekbit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.menus .menu__delice {
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 100%;
  width: 100%;
  background: #f9f9f9;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menus .menu__delice .menu__title {
  font-size: 2.5rem;
  text-align: center;
  background: linear-gradient(to right, #0228DD, #0670F3, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus .menu__delice .menu__content {
  margin-top: 3rem;
  font-size: 5rem;
  color: #229DF9;
}
.menus .menu__delice:hover {
  opacity: 0.4;
  -wekbit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.menus .menu__palette {
  font-family: "Kaushan Script", cursive;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 100%;
  width: 100%;
  background: #FDFFFD;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menus .menu__palette .menu__title {
  font-size: 2.5rem;
  text-align: center;
  background: linear-gradient(to right, #489B40, #97DE6A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus .menu__palette .menu__content {
  margin-top: 3rem;
  font-size: 5rem;
  color: #97DE6A;
}
.menus .menu__palette:hover {
  opacity: 0.4;
  -wekbit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.btn {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  width: 100%;
  margin-bottom: calc(8vh + 3rem);
  font-size: 1.5rem;
  border: transparent;
}
.btn__text {
  background-color: #579C87;
  padding: 1rem;
  border-radius: 10px;
  color: #FDCB46;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover .btn__text {
  background-color: rgba(87, 156, 135, 0);
  color: #579C87;
}
.btn:hover .spinner {
  display: block;
}

@media screen and (min-width: 950px) and (max-width: 1160px) {
  .menus {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    width: 100%;
  }
  .menus .menu {
    width: 40%;
    min-width: 400px;
  }
}
@media screen and (min-width: 1160px) {
  .menus {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
  }
  .menus .menu {
    width: 40%;
  }
}

/*# sourceMappingURL=index.css.map */
