@mixin transform ($property, $value) {
  -wekbit-transform: #{$property}(#{$value});
  -moz-transform: #{$property}(#{$value});
  -ms-transform: #{$property}(#{$value});
  -o-transform: #{$property}(#{$value});
  transform: #{$property}(#{$value});
}
@mixin transition ($type, $time) {
  -webkit-transition: $type $time;
  -moz-transition: $type $time;
  -ms-transition: $type $time;
  -o-transition: $type $time;
  transition: $type $time;
}

@mixin keyframes ($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-khtml-keyframes #{$name} { @content; }
}