/*
  Spinner
*/
.spinner {
  display: none;
  width: 100%;
  text-align: center;
  & > span {
    width: 18px;
    height: 18px;
    background-color: $nav-color;
    border-radius: 50%;
    display: inline-block;
    @include animation(spinner, 1.4s, infinite, ease-in-out both);
  }
  span:last-child {
    @include animation-delay(0.32s);
  }
  span:nth-child(2n) {
    @include animation-delay(0.16s);
  }
}