/*
  Variables
*/
$nav-color: #579C87;
$color: #FDCB46;
$menu2-entry: #C67412;
$menu2-dish: #A56799;
$menu2-dessert: #6E4CCC;
$menu3-entry: #0228DD;
$menu3-dish: #0670F3;
$menu3-dessert: #229DF9;
$menu4-entry: #489B40;
$menu4-dish: #97DE6A;
$menu4-dessert: #BEFF7F;