@import "reset";
@import "variables";
@import "mixins";
@import "global";
@import "nav";
@import "footer";
@import "keyframes";

/*
  Main
*/
.main {
  position: relative;
  margin: 1em auto;
  max-width: 80vw;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  .menu {
    max-width: 600px;
    margin: 2em auto;
    box-shadow: 4px 4px 4px 4px #b8b8b8;
    transition: all 0.4s ease;
    overflow: hidden;
    &--img {
      width: 100%;
      height: 100%;
      @include transition(all, 0.4s);
      &:hover {
        width: 100%;
        opacity: 0.4;
        @include transform(scale, 1.5);
      }
    }

  }
}

/*
  Button
*/
.btn {
  font-size: 1.5em;
  display: block;
  text-align: center;
  margin: 6em auto;
  background-color: $nav-color;
  color: $color;
  border: transparent;
  padding: 1em;
  border-radius: 24px;
  &:hover {
    background-color: rgba($nav-color, 0);
    color: rgba($color, 0);
    & .spinner {
      display: block;
    }

  }
}

.spinner {
  display: none;
  width: 100%;
  text-align: center;
  & > span {
    width: 18px;
    height: 18px;
    background-color: $nav-color;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: spinner 1.4s infinite ease-in-out both;
    -moz-animation: spinner 1.4s infinite ease-in-out both;
    -o-animation: spinner 1.4s infinite ease-in-out both;
    animation: spinner 1.4s infinite ease-in-out both;
  }
  span:last-child {
    -webkit-animation-delay: 0.32s;
    -moz-animation-delay: 0.32s;
    -o-animation-delay: 0.32s;
    animation-delay: 0.32s;
  }
  span:nth-child(2n) {
    -webkit-animation-delay: 0.16s;
    -moz-animation-delay: 0.16s;
    -o-animation-delay: 0.16s;
    animation-delay: 0.16s;
  }
}
