/*
  Spinner
*/
.spinner {
    display: flex;
    @include justify-content(center);
    @include align-items(center);
    margin: 0 auto calc(#{$footer-height} + 3rem);

    &__title {
        &__btn {
            display: flex;
            @include align-items(center);
            @include justify-content(center);
            font-size: 1.5em;
            padding: 0.4em;
            border-radius: 8px;
            color: $color;
            background-color: $nav-color;
            border: none;

            & > span {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: $color;
                margin-left: 0.5em;
                @include animation(spinner 1.4s infinite ease-in-out both);
            }

            & span:nth-child(2) {
                @include animation-delay(0.16s);
            }

            & span:last-child {
                @include animation-delay(0.32s);
            }
        }
    }
}