@use "../helpers/variables";
@use '../layout/menu' with (
    $menu: variables.$menu1
);

.main {
    .menu {
        &__footer {
            text-align: center;
            font-size: 1.4em;
        }
    }
}
