@use "../helpers/variables";
@use '../layout/menu' with (
$menu: variables.$menu2
);
@import "../helpers/mixins";

.main {
    .menu {
        &__title {
            @include linear-gradients(to right, map_get(variables.$menu2, colors));
        }

        &__entry {
            color: nth(map_get(variables.$menu2, colors), 1);
        }

        &__dish {
            color: nth(map_get(variables.$menu2, colors), 2);
        }

        &__dessert {
            color: nth(map_get(variables.$menu2, colors), 3);
        }
    }
}
