@use "../helpers/variables";
@use '../layout/menu' with (
$menu: variables.$menu4
);
@import "../helpers/mixins.scss";

.main {
    .menu {
        &__title {
            @include linear-gradients(to right, map_get(variables.$menu4, colors));
        }

        svg {
            fill: red;
            width: 100%;
            height: 10px;
            border: solid 1px red;
        }
    }
}
